body{
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


.fundo{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(217deg, #360c3e, #360c3e46 70.71%),
            linear-gradient(127deg, #650877, #360c3e1f 70.71%),
            linear-gradient(336deg, #dbba2e, rgba(238, 255, 0, 0.274) 70.71%);
    z-index: 999;
}
.doodleAmarelo{
    height: 100vh;
    width: 100vw;
}
.alinhamento{
    display: flex;
    justify-content: center;
    position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);
    z-index: 1;
}
.hud{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: auto;
    height: max-content;
    justify-content: space-between;
    padding:1rem;
    padding-top: 1rem;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.377);
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 15px;
    position: static;
}

h1{

    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

/* Inputs */

.loginInput{
   display: flex;
   align-items: center;
   gap:3px;
   width: 100px;
}


.areaInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    margin-bottom: 40px;
}
.inputlogin{
    width: 80%;
    display: flex;
    border: 2px solid grey;
    border-radius:20px;
    align-items: center;
    gap: 3px;
    background-color:none;
    padding: 5px 10px;
    margin-bottom: 30px;
    transition: all 1s;
}
.inputlogin:focus-within{
    width: 83%;
    color: #360c3e;
    border: 2px groove #360c3e;
}

.inputlogin input{
     background-color: none;
     outline: none;
     border: none;
     font-size: 1.3rem;
     width: 100%;
}

.espacoInputSenha{
    width: 80%;
    display: flex;
    border: 2px solid grey;
    border-radius:20px;
    align-items: center;
    gap: 1px;
    background-color:none;
    padding: 5px 10px;
    margin-bottom: 0;
    transition: all 1s;
}
    .espacoInputSenha:focus-within{
        width: 83%;
        color: #360c3e;
        border: 2px groove #360c3e;
    }
.senhaInput{
    background-color: none;
     outline: none;
     border: none;
     font-size: 1.3rem;
     width: 100%;
}
.logarBtn{
    margin-top: 0;
    margin-bottom: 0px;
}

#btnDesign{
    width: 80%;
    background-color: rgb(223, 223, 223);
    padding: 15px;
    margin: auto;
     margin-top: 0;
    cursor: pointer;
    border: 0;
    transition: 0.3s all;
    font-size: 17px;
}

#btnDesign:hover{
    width: 80%;
    color: wheat;
    background-color: blueviolet;
    margin: auto;
    cursor: pointer;
    border: 0;
}

.cadastrar{ 
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: white;
    height: max-content;
    color: #360c3e;;
    text-decoration: underline 1px #360c3e;
}
.texto{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;

}

.divulgacao{
    margin-top: 20px;
}
.gitHubIcon{
    height: 30px;
}
.linkedinIcon{
    height: 30px;
}

.links{
    display: flex;
    justify-content: space-evenly;
    width: 230px;
    margin: auto;
}


/* BOTAO DE MODO ESCURO */
.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {font-size: 15px}
  
  .fa-sun {font-size: 15px}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }
  
  hud.dark {background-color: #292c35;} /* #9b59b6 */

hud.dark h1, hud.dark .support a {color: #fff;}
