body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(73, 0, 73);
    overflow-x: hidden;
    margin: 0;
}

nav{
    margin-top: 0;
    background-color: white;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding: 10px;
}

#iconesNav{
font-size: 30px;
   cursor: pointer;
}

.titulo{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gatinhoDancando{
    height: 80px;
    margin-top: 10px;
}