body{
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-image: linear-gradient(to right, rgb(116, 64, 64), rgb(63, 0, 63));
    color: wheat;
    overflow-x: hidden;
}   
    
    .barraNav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        border-bottom: solid 5px wheat;
        justify-content: space-evenly;

    }


.fotoPerfil{
   padding-left: 10px;
    height: 25px;
}

button{
    width: 200px;
    margin: auto;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px; 
    padding: 16px;
    background-color:wheat;
    border:0;
}